# Стандартные временные файлы и папки, создаваемые операционной системой и IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~.nib
*.log

# Скомпилированные файлы Python и папки
*.pyc
*.pyo
__pycache__/

# Локальные настройки проекта
*/settings.py
*/settings_local.py
*/development.py
*/production.py
# Рекомендуется использовать шаблон для настроек, например settings.py.template,
# и исключать конкретные файлы настроек, которые используются на локальных машинах или серверах

# Лог-файлы и файлы сессий
*.log
db.sqlite3
*.pid
*.seed

# Файлы баз данных
*.db
*.sqlite3
# Если вы используете другие СУБД, добавьте соответствующие паттерны файлов здесь

# Папки и файлы, связанные с виртуальным окружением
venv/
env/
# Или другие названия, которые вы могли использовать для виртуального окружения

# Папки node_modules, если используются инструменты JavaScript в связке с Bootstrap
node_modules/

# Сгенерированные файлы и папки
/static/
/media/
# Добавьте любые другие папки, которые вы генерируете в процессе разработки

# Конфигурационные файлы, специфичные для развертывания и инструментов CI/CD
*.env
*.yml
docker-compose.override.yml
# Исключите любые другие файлы конфигурации, которые не должны попадать в репозиторий

# Дополнительно можно исключить папки с документацией или тестами, которые не должны попадать в продакшн
/docs/
/tests/
*.md

# Секретные ключи и сертификаты
*.pem
*.key
.secret

# Игнорирование конкретных файлов, которые могут быть созданы в процессе разработки
/.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.user
*.userprefs